body {
  font-family: Arial, Helvetica, sans-serif;
}

h2
h3 {
  color: #0066c6;
}

header {
  background-color: #63a8e8;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

aside {
  flex: 1;
}


form {
    max-width: 600px;
    margin: auto;
}


fieldset {
    background-color: #ffffff;
    border: 2px solid #4a90e2;
    border-radius: 8px;
    padding: 20px;
}


legend {
    font-weight: bold;
    color: #4a90e2;
    padding: 0 10px;
}


div {
    margin-bottom: 15px;
}


label {
    font-weight: 600;
    color: #333;
}


input[type="text"],
input[type="date"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 6px;
}


input[type="submit"] {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4a90e2;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

footer {
  padding: 20px;
  color: white;
  background-color: #63a8e8;
}